* {
  background-color: #333333;
  color: white;
  font-family: Copperplate, sans-serif;
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 100px;
  color: #d57a6f;
}

h2 {
  font-size: 55px;
  color: #f2a89f;
}

a {
  margin: auto 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 100;
  color: #9dacb4;
}

.header-image {
  height: auto;
  width: 100%;
}